@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_IBIBankLayout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    //function LoadOfSavingAccountTable()
    $("#tableOfSavingAccounts").ready()
    {
        //alert("load table called");
        $.ajax({
            url: "/Customer/GetListOfSavingAccounts",
            //data: { requestType: requestType },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#tableOfSavingAccounts").empty();
                $("#tableOfSavingAccounts").append('<tr><th>Account Number</th><th>Balance</th><th>Mini/Detailed statements</th></tr>');
                $("#AccountDetailsLabel").text("Account Details : ");
                for (var x = 0; x < data.length; x++) {
                   

                    $("#tableOfSavingAccounts").append('<tr><td>' + data[x].accountNumber + '</td><td>' + data[x].balance + '</td><td><a href =@Url.Action("MiniDetailedstatements","Customer")>Mini/Detailed Statements<a></td></tr>');
                }
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }
</script>
<h1>Customer DashBoard</h1>
@Html.ActionLink("Create New Account","CreateNewAccount","Customer")
<h3>Fund Manager</h3>
@Html.ActionLink("Add Payee","AddPayee","Customer")
@Html.ActionLink("Transfer Funds","TransferFunds","Customer")
<br />
<h3>Request Manager</h3>
@Html.ActionLink("Request Account Transfer","RequestForAccountTransfer","Customer")
@Html.ActionLink("Request Closure of Account","RequestClosureOfAccount","Customer")
@Html.ActionLink("View Request Status","ViewRequestStatus","Customer")
<br />
<h3>Profile Manager</h3>
@Html.ActionLink("View Or Update Profile","ViewOrUpdateProfile","Customer")
@Html.ActionLink("Update User Or Transaction Password","UpdateUserOrTransactionPassword","Customer")
<br />
<h3>Add-Ons</h3>
@Html.ActionLink("Apply For Loan","ApplyForLoan","Customer")
@Html.ActionLink("Money Managaer","MoneyManagaer","Customer")
<br />
<br />
<div style="border:1px solid black">
    <h3 id ="AccountDetailsLabel"></h3>
    <table id="tableOfSavingAccounts" ">

    </table>
</div>
