@{
    ViewBag.Title = "MiniDetailedstatements";
    Layout = "~/Views/Shared/_IBIBankLayout.cshtml";
}

<h2>View Account Statements</h2>

@using IBITest.Models

<br />


<p id="list">    
     Account Number:
    <select onchange ="AccountNumber(this.value)" id ="selectlist">
        @foreach(var v in ViewBag.accountsList)
        {
            <option value ="@v"  > @v </option>
        }       
    </select>    
</p>


<input type="radio" class="radiolist" onchange="DisplayType(this.value)" value="1"  id="Radio1" name="OptionList" checked   />Mini
<input type="radio" class="radiolist" onchange="DisplayType(this.value)" value="2" id="Radio2" name="OptionList" />Detailed

<div id ="SelectDateDiv" >
</div>


<div class="datagrid">
<table id ="mytable" >
    <tbody> 
        @{
            if(ViewBag.transactionDetails != null)
            {
                 <tr>
                     <th>Transaction ID</th>
                     <th>Transaction Type</th>
                     <th>Transaction Date</th>
                     <th>Amount</th>
                     <th>Transaction Remarks</th>
                 </tr>
                foreach (var v in ViewBag.transactionDetails)
                {
                    <tr>
                        <td>@(v.transactionID) </td>
                        <td>@(v.transactionType) </td>
                        <td>@(v.transactionDate) </td>
                        <td>@(v.amount) </td>
                        <td>@(v.transactionRemarks) </td>
                    </tr>
                }        
            }
            else
            {
                <tr> <td> No records to display </td></tr>
            }
          
        }
     </tbody>

 </table>
    </div>
                                                                 
<script>

    function AccountNumber(selectedAccountNumber) {

        if ($('#Radio1').is(':checked')) { // Mini

            $('#mytable tbody > tr').remove();

            var url = "/Customer/GetLastFiveTransactions/";
            $.ajax({
                url: url,
                data: { accountNumber: selectedAccountNumber },
                cache: false,
                type: "POST",
                success: function (data) {
                    var trhtml = "";
                    if (data != null) {
                        trhtml += "<tr>" +
                              "<th>Transaction ID</th>" +
                              "<th>Transaction Type</th>" +
                              "<th>Transaction Date</th>" +
                              "<th>Amount</th>" +
                              "<th>Transaction Remarks</th>" +
                              "</tr>";


                        for (var x = 0; x < data.length; x++) {
                            var transactionDate = new Date(parseInt(data[x].transactionDate.substr(6)));

                            trhtml += "<tr> <td>" + data[x].transactionID + "</td> <td> " + data[x].transactionType + "</td> <td>" + transactionDate + "</td><td> " + data[x].amount + "</td>  <td>" + data[x].transactionRemarks + "</td>  </tr>";
                        }                      
                    }
                    else {
                        trhtml = "<tr> <td> No records to display </td></tr>";
                    }
                    $('#mytable').append(trhtml);
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });

        }

        else { // Detailed
            $('#mytable tbody > tr').remove();

        }       

    }

    function DisplayType(_selectType) {
        if (_selectType == 1) { // mini
            $("#SelectDateDiv").find("p").remove();
            $("#SelectDateDiv").find("input").remove();

            var selectedAccountNumber = $("#selectlist").val();
            AccountNumber(selectedAccountNumber);

        }
        else { // Detailed
            var dateHtml = '<p id ="FromDate">From Date: <input id="date1" type="date" class = "date-picker"/> </p>' +
                             '<p id ="ToDate">To Date:   <input id="date2" type="date" class = "date-picker"/> </p>' +
                             '<input id="DisplayDetailedStatements" type="button" value="Detailed Statements" onclick ="DisplayDetailed()"/>';
            $("#SelectDateDiv").append(dateHtml);

            $('#mytable tbody > tr').remove();
        }
    }

    function DisplayDetailed() {

        $('#mytable tbody > tr').remove();

        var fromDate = Date.parse($("#date1").val())

        if (isNaN(fromDate) == true) {
            swal("Error", "Select a proper From Date", "warning");
            return;
        }       
        
        var toDate = Date.parse($("#date2").val())

        if (isNaN(toDate) == true) {
            swal("Error", "Select a proper To Date", "warning");
            return;
        }
       
        date1 = new Date($("#date1").val());
        date2 = new Date(($("#date2").val()));
        
        if (date1 > date2) {
            swal("Error", "From Date must be before To Date", "warning");
            return;
        }

        var fDate = date1.getDate();
        var fMonth = date1.getMonth()+1; //months from 1-12
        var fYear = date1.getFullYear();

        var tDate = date2.getDate();
        var tMonth = date2.getMonth()+1; //months from 1-12
        var tYear = date2.getFullYear();


        var selectedAccountNumber = $("#selectlist").val();

        var url = "/Customer/GetDetailedTransactions/";
        $.ajax({
            url: url,
            data: { accountNumber: selectedAccountNumber, fromDate: fDate, fromMonth: fMonth, fromYear: fYear, toDate: tDate, toMonth: tMonth, toYear: tYear },
            cache: false,
            type: "POST",
            
            success: function (data) {
                var trhtml = "";
                if (data != null) {
                    trhtml += "<tr>" +
                          "<th>Transaction ID</th>" +
                          "<th>Transaction Type</th>" +
                          "<th>Transaction Date</th>" +
                          "<th>Amount</th>" +
                          "<th>Transaction Remarks</th>" +
                          "</tr>";


                    for (var x = 0; x < data.length; x++) {
                        var transactionDate = new Date(parseInt(data[x].transactionDate.substr(6)));

                        trhtml += "<tr> <td>" + data[x].transactionID + "</td> <td> " + data[x].transactionType + "</td> <td>" + transactionDate + "</td><td> " + data[x].amount + "</td>  <td>" + data[x].transactionRemarks + "</td>  </tr>";
                    }
                }
                else {
                    trhtml = "<tr> <td> No records to display </td></tr>";
                }
                $('#mytable').append(trhtml);
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }








</script>





