@model IBITest.Models.FundTransferViewModel

@{
    ViewBag.Title = "TransferFunds";
    Layout = "~/Views/Shared/_IBIBankLayout.cshtml";
}
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    //function SubmitForm()
    //{
    //    alert("Called");
    //    $.ajax({
    //        url: "/Customer/TransferFunds",
    //        cache: false,
    //        data: { model: $form.serialize()},
    //        type: "POST",
    //        success: function (data) {
    //           alert("Success")
    //        },
    //        error: function (reponse) {
    //            alert("error : " + reponse);
    //        }
    //    });
    //}
</script>
<h2>TransferFunds</h2>
@*<P style="color:red;>@ViewBag.message</P>*@
<h3 style="color:red">&nbsp &nbsp &nbsp &nbsp @ViewBag.message</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
            <legend>FundTransferViewModel</legend>
    @*<form action="javascript:SubmitForm()" method="post">*@
        <div class="editor-label">
            @Html.LabelFor(model => model.FromAccount)
        </div>
        <div class="editor-field" title="Select Source Account">
            @Html.DropDownListFor(model => model.FromAccount, new SelectList(@ViewBag.savingsAccountList), "--Select--")
            @Html.ValidationMessageFor(model => model.FromAccount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ToAccount)
        </div>
        <div class="editor-field" title="Select Destination Account Nick Name">
            @Html.DropDownListFor(model => model.ToAccount, new SelectList(@ViewBag.payeeAccounts, "payeeAccountNumber", "payeeNickName"), "--Select--")
            @Html.ValidationMessageFor(model => model.ToAccount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Amount)
        </div>
        <div class="editor-field" title="Enter the amount to trnsfer. Amount must be positive and less than INR 25,000">
            @Html.EditorFor(model => model.Amount)
            @Html.ValidationMessageFor(model => model.Amount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TransactionPassword)
        </div>
        <div class="editor-field" title="Enter your transaction password">
            @Html.EditorFor(model => model.TransactionPassword)
            @Html.ValidationMessageFor(model => model.TransactionPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.remarks)
        </div>
        <div class="editor-field" title="Enter remarks. Limited to 100 characters.">
            @Html.EditorFor(model => model.remarks)
            @Html.ValidationMessageFor(model => model.remarks)
        </div>

        <p>
            <input type="submit" value="Transfer" />
        </p>
    @*</form>*@
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
