@model IBITest.Models.FundTransferViewModel

@{
    ViewBag.Title = "TransferFunds";
    Layout = "~/Views/Shared/_IBIBankLayout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    //function SubmitForm()
    //{
    //    alert("Called");
    //    $.ajax({
    //        url: "/Customer/TransferFunds",
    //        cache: false,
    //        data: { model: $form.serialize()},
    //        type: "POST",
    //        success: function (data) {
    //           alert("Success")
    //        },
    //        error: function (reponse) {
    //            alert("error : " + reponse);
    //        }
    //    });
    //}
</script>
<h2>TransferFunds</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
            <legend>FundTransferViewModel</legend>
    @*<form action="javascript:SubmitForm()" method="post">*@
        <div class="editor-label">
            @Html.LabelFor(model => model.FromAccount)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.FromAccount, new SelectList(@ViewBag.savingsAccountList), "--Select--")
            @Html.ValidationMessageFor(model => model.FromAccount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ToAccount)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ToAccount, new SelectList(@ViewBag.payeeAccounts, "Value", "Text"), "--Select--")
            @Html.ValidationMessageFor(model => model.ToAccount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Amount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Amount)
            @Html.ValidationMessageFor(model => model.Amount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TransactionPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TransactionPassword)
            @Html.ValidationMessageFor(model => model.TransactionPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.remarks)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.remarks)
            @Html.ValidationMessageFor(model => model.remarks)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    @*</form>*@
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
