@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_IBIBankLayout.cshtml";
}

<h2>Admin DashBoard</h2>
@Html.ActionLink("Add Branch", "AddBranch","Admin")
@Html.ActionLink("Approve or Reject Requets","ApproveOrRejectRequests","Admin")
@Html.ActionLink("View or Update Branch Details","ViewOrUpdateBranchDetails","Admin")
<br />
<p>Number of Branch Transfer Requests : <a href="/Admin/ApproveOrRejectRequests">@ViewBag.BranchTransferRequests</a></p>

<p>Number of Account Closure Requests : <a href="/Admin/ApproveOrRejectRequests">@ViewBag.AccountClosureRequests</a></p>


