@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_IBIBankLayout.cshtml";
}

<h2>My DashBoard</h2>

<br />
<body >
<div class ="divborder" >
    <h3>Hello @(ViewBag.user) ! Requests for you</h3>
    <h5>You have <a href="/Banker/GenerateToken/" class ="linkcolor" >@(ViewBag.acctrf)</a>  account transfer requests </h5>
    <h5>You have <a href="/Banker/GenerateToken/" class ="linkcolor" >@(ViewBag.loan)</a> loan requests </h5>
    <h5>You have <a href="/Banker/GenerateToken/" class ="linkcolor" >@(ViewBag.newacc)</a> new account creation requests </h5>
    <h5>You have <a href="/Banker/GenerateToken/" class ="linkcolor" >@(ViewBag.accclo)</a> account closure requests </h5>
</div>
<br />
<h4> Your Branch Details</h4>




<div class ="divborder">
    <table>
        <tr>
            <td>Branch Name : </td>
            <td>@( ViewBag.selfbranchname)</td>
        </tr>
        <tr>
            <td>Address : </td>
            <td>@( ViewBag.selfbranchAdddress)</td>
        </tr>
        <tr>
            <td>City : </td>
            <td>@( ViewBag.selfbranchnameCity)</td>
        </tr>
        <tr>
            <td>Contact Number : </td>
            <td>@( ViewBag.selfbranchnameContactNo)</td>
        </tr>
        <tr>
            <td>Mail ID : </td>
            <td>@( ViewBag.selfbranchMailId)</td>
        </tr>
    </table>
</div>
<br />

<input type="button" value="Generate Token For New Customer" onclick="@("window.location.href='" + @Url.Action("GenerateToken", "Banker") + "'");" />
</body>