@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_IBIBankLayout.cshtml";
}

<h2>My DashBoard</h2>

<br />
<br />
<body >
<div class ="divborder" >
    <h3 style="text-decoration:underline"> Requests for you</h3>
    <h5>You have <a href="/Banker/Requests/" > <span class ="linkcolor">@(ViewBag.acctrf)</span> </a>  account transfer requests </h5>
    <h5>You have <a href="/Banker/Requests/" > <span class ="linkcolor">@(ViewBag.loan)</span></a> loan requests </h5>
    <h5>You have <a href="/Banker/Requests/" > <span class ="linkcolor">@(ViewBag.newacc)</span> </a> new account creation requests </h5>
    <h5>You have <a href="/Banker/Requests/" > <span class ="linkcolor">@(ViewBag.accclo)</span> </a> account closure requests </h5>
</div>
<br />
<h4> Your Branch Details</h4>




<div class ="datagrid" style="width:40%">
    <table>
        <tr>
            <td>Branch Name : </td>
            <td>@( ViewBag.selfbranchname)</td>
        </tr>
        <tr>
            <td>Address : </td>
            <td>@( ViewBag.selfbranchAdddress)</td>
        </tr>
        <tr>
            <td>City : </td>
            <td>@( ViewBag.selfbranchnameCity)</td>
        </tr>
        <tr>
            <td>Contact Number : </td>
            <td>@( ViewBag.selfbranchnameContactNo)</td>
        </tr>
        <tr>
            <td>Mail ID : </td>
            <td>@( ViewBag.selfbranchMailId)</td>
        </tr>
    </table>
</div>
<br />

<input type="button" class="button" value="Generate Token For New Customer" onclick="@("window.location.href='" + @Url.Action("GenerateToken", "Banker") + "'");" />
</body>