@model IBITest.Models.GenerateTokenViewModel

@{
    ViewBag.Title = "GenerateToken";
    Layout = "~/Views/Shared/_IBIBankLayout.cshtml";
}

<h2>GenerateToken</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>GenerateTokenViewModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CustomerName)
            @Html.ValidationMessageFor(model => model.CustomerName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DOB,new { @class = "date-picker" })
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DOB)
            @Html.ValidationMessageFor(model => model.DOB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PermanentAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PermanentAddress)
            @Html.ValidationMessageFor(model => model.PermanentAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContactNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContactNumber)
            @Html.ValidationMessageFor(model => model.ContactNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <p>
            <input type="submit" value="Generate Token" />
            <input id="Reset1" type="reset" value="Cancel" />
        </p>
    </fieldset>
}


<p>@(ViewBag.CustomerID)</p>
<p">@(ViewBag.token)</p>
<div>
    @Html.ActionLink("Back to Dashboard", "Dashboard","Banker")          
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
